.cover {
  font-family: var(--Snigle-font);
  font-size: 0.9em;
  color: whitesmoke;
}

.header{
  font-family: 'Raleway';
  background-image: linear-gradient(rgba(54, 139, 219, 0.5), rgba(13, 124, 228, 0.767)), url(../../img/books.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
}


#headerId{
  justify-content:center;
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 50%;
  background-color: rgba(30, 161, 221, 0.623);
  background-repeat:repeat; 
}

.header h6{
    font-size: 24 px;
}